@import "tailwindcss";


    .swiper-button-next,
    .swiper-button-prev {
      background-color: white;
      padding: 8px 16px;
      border-radius: 100%;
      border: 2px solid black;
      color: red;
    }
    .swiper-pagination-bullet {
      width: 40px;
      height: 40px;
      background-color: red;
    }
    


